body {
    background-image: url('/images/seatingmap.jpg');
    background-size: 55%;
    /* Adjust the width and height of the background image */
    background-position: 45% 7%;
    /* Adjust the position of the background image */
    background-repeat: no-repeat;
}

.back-button {
    width: 280px;
    height: 250px;
    text-align: center;
    line-height: 220px;
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 15%;
    /* Make the button more round */
    text-decoration: none;
    color:white;
    transition: all 0.3s ease;
    /* Smooth transition for hover effects */
    animation: fadeIn 5s ease-in-out;
opacity:80%;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: .8;}
}
.back-button:hover {
    background-color: rgb(92, 92, 249);
    /* Change color to blue when hovered */
    transform: scale(1.1);
    /* Increase size when hovered */
}

.button-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    border: none;
    position: absolute;
}
.bt{
    height: 20px;
    width: 20px;
    opacity: .8;
}
/* Add more classes to position each button */
.button-101 {
    top: 68%;
    left: 43%;
    
}

.button-102 {
    top: 68.5%;
    left: 51.5%;
}

.button-103 {
    top: 53%;
    left: 37.7%;
}

.button-104 {
    top: 53%;
    left: 57%;
}

.button-105 {
    top: 36%;
    left: 38.7%;
}

.button-106 {
    top: 37%;
    left: 55.6%;
}
/*-------------------------------------------------------------------------------------------*/
.button-200 {
    top: 85%;
    left: 47.4%;
}
.button-201 {
    top: 79.7%;
    left: 36.5%;
}

.button-202 {
    top: 80%;
    left: 58%;
}

.button-203 {
    top: 61%;
    left: 29%;
}

.button-204 {
    top: 62%;
    left: 66%;
}

.button-205 {
    top: 42.4%;
    left: 29%;
}

.button-206 {
    top: 42%;
    left: 66%;
}
